
#menuPrincipal{
    width: 15%;
    background-image: url("../images/fondo2.jpg");
    border-width: 3px;
    border-color:#666;
    border-style: solid;
    float: left;
	border-radius: 18px 18px 18px 18px;
-moz-border-radius: 18px 18px 18px 18px;
-webkit-border-radius: 18px 18px 18px 18px;

}
.logo {
	
    width: 1350px ;
    height: 250px;
}
.imagen {
    width: 350px ;
    height: 250px;
}

#contenido1{
    width: 60%;
    background-color:aqua;
    margin-left:10px;
    padding:5px 20px;
    border-width:3px;
    border-color:#666;
    border-style: solid;
	border-radius: 18px 18px 18px 18px;
-moz-border-radius: 18px 18px 18px 18px;
-webkit-border-radius: 18px 18px 18px 18px;


    background-image: url("../images/fondo3.jpg");
  /*  background-repeat:no-repeat;
    background-position: 50% 50%;
*/
    float: left;

}
#contenido2{
    width: 20%;
    background-color:aqua;
    margin-left:10px;
    padding:5px 20px;
    border-width:3px;
    border-color:#666;
    border-style: solid;

    background-image: url("../images/fondo3.jpg");
  /*  background-repeat:no-repeat;
    background-position: 50% 50%;
*/
    float: left;

}
#final{
    width: 100%;

    border :5px grey  solid;
    background-image: url("../images/fondo2.jpg");
    
    background-position: 0% 50%;
    float: left;
	border-radius: 18px 18px 18px 18px;
-moz-border-radius: 18px 18px 18px 18px;
-webkit-border-radius: 18px 18px 18px 18px;

}
body{
    background-image:url("../images/fancy-cushion.png");
}
iframe{
    border-width: 0px;
}
table {
  width: 250px;
  border: 1px solid #000;
  border-collapse: collapse; }